h2 {
  color: black;
  text-align: center;
}

div{
	 padding-top: 20px;
    padding-bottom: 20px;
}

p{
    font-weight: bold;
    font-size: 18px;

}

circle.dimple-all{
      fill:red;
    }

div.conclusion{
     border-style: solid;
    border-width: medium;
}